/*  
Skin Name: Brown
Version: 1.0
Description: Skin for Pinboard
*/

a {
	color: #995312;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap,
#load-more a {
	background-color: #5c2d01;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #dfd3c7;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #371b01;
	color: #fff;
}