/*  
Skin Name: Pink
Version: 1.0
Description: Skin for Pinboard
*/

a {
	color: #ce6394;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap,
#load-more a {
	background-color: #d3518c;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #efcadb;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #7f3154;
	color: #fff;
}