/*  
Skin Name: Blue
Version: 1.0
Description: Skin for Pinboard
*/

a {
	color: #297896;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap,
#load-more a {
	background-color: #3987a5;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #c4dbe4;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #225163;
	color: #fff;
}