/*  
Skin Name: Green
Version: 1.0
Description: Skin for Pinboard
*/

a {
	color: #698f26;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap,
#load-more a {
	background-color: #5b8315;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #cedab9;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #374f0d;
	color: #fff;
}