/*  
Skin Name: Black
Version: 1.0
Description: Skin for Pinboard
*/

a {
	color: #000;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap,
#load-more a {
	background-color: #252525;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #bdbdbd;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #000;
	color: #fff;
}