/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Pinboard
*/

a {
	color: #703a98;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap,
#load-more a {
	background-color: #662d91;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #d0c0dc;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #3d1b57;
	color: #fff;
}