/*  
Skin Name: Orange
Version: 1.0
Description: Skin for Pinboard
*/

a {
	color: #e66020;
}

/************************************************************************************
Theme background color
*************************************************************************************/
#headerwrap,
#load-more a {
	background-color: #f26522;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #fbd1bd;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #913d14;
	color: #fff;
}